body {
    margin:0;
    padding:0;
    background: radial-gradient(#fdfddc, #e6d7a3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width:100vw;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width:100%;
    align-content: center;
    justify-content: left;
    display: flex;
    background-color: white;
    margin:0;
    padding: 5px;
    padding-left: 0;
    padding-right: 0;
}

nav * {
    margin:2px;
    margin-left: 10px;
    margin-right: 10px;
    min-width:50px;
    text-align: center;
}

nav a {
    color:white;
    background-color: black;
    padding:10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    margin-left:1vw;
}

.miku {
    background-color: #3cb2c2;
    border-color: #1d7d8a;
}
.neru {
    margin-left:5vw;
    background-color: #e6bc33;
    border-color: #947719;
}
.teto {
    background-color: #db2e62;
    border-color: #8d173a;
}

.search {
    justify-content: center;
    background-color: #5e4c2c;
    padding-top:0.5vw;
    padding-bottom:0.5vw;
}

.searchholder {
    display:flex;
    background-color: white;
    width:90vw;
    padding:0;
    margin:0;
}

.search button {
    margin:0;
    padding:0;
    right:5.5vw;
    border:none;
    background: none;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    flex-grow: 1000;
    width:0.8vw;
    min-width: none;
    height:auto;
}
.search button img {
    margin:0;
    width:0.8vw;
    margin-right:1vw;
    height:auto;
    object-fit:scale-down;
}

input {
    text-align: left;
    width:90vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0.8vw;
    height:3vw;
    font-size: 1.2vw;
    font-weight: 600;
    border:none;
    margin:0;
}
input::placeholder {
    color:#b6b4ab;
}

.gallery {
    width:90.4vw;
    display: flex;
    flex-wrap: wrap;
}

.gallery img{
    margin:0.4vw;
    width: 17.282vw;
    height:auto;
}

header {
    color:rgb(49, 48, 41);
    font-weight: 700;
    font-size: 2vw;
    width:100%;
    margin:0.4vw;
}

main {
    margin-top:1vw;
}