body {
    margin:0;
    padding:0;
    background: radial-gradient(#fdfddc, #e6d7a3);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width:100vw;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding:10px;
    margin:10px;
    width: 97%;
        height:95%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 0;
}

main p {
    color:rgb(88, 85, 71);
    font-size: 20px;
    font-weight: 600;
    text-align: end;
    width:50%;
    margin-top:50px;
}

header {
    color:rgb(49, 48, 41);
    font-weight: 800;
    font-size: 75px;
    width:100%;
}

.triplebaka {
    position: absolute;
    bottom:0%;
    left:10px;
    width:55%;
    margin:0;
    padding:0;
    filter: drop-shadow(0px 0px 15px #aa9d6c);
    z-index: -1;
}

/* Mobile CSS */

@media only screen and (max-width: 768px) {
    main {
        width:90%;
    }
    main p {
        width:100%;
    margin-top:20px;
    text-align: left;
    }
    header {
        font-size: 20px;
        width:100%;
        text-align: center;

    }
    .triplebaka {
        width:95%;
    }
}